<launch>

  <!-- load the controllers -->
  <rosparam file="$(find irb120_robotiq_gazebo)/config/irb120_robotiq_controllers.yaml" command="load" />
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" 
  args="joint_state_controller arm_controller gripper_controller" />
   
</launch>
